.artists-container {

    .flexProperties(row, flex-start, flex-start);

    .artist {

        margin-left: 1rem;
        margin-right: 1rem;

        font-family: @font;

        img {

            .imageProperties(300px, 200px, 1rem);

        }

        .flexProperties(column, center);

    }

}